@import url(./recet.css);

body {
    font-family: 'DM Sans', sans-serif;
}

.container {
    max-width: 1070px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: #19191B;
}

p {
    font-weight: 400;
    color: #696871;
}

header {
    background: rgba(255, 113, 67, 0.27);
}

ul {
    display: flex;
    gap: 49px;
}

a {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.468947px;
    color: #696871;
    transition: all 0.5s ease;
}

a:hover {
    color:#19191B;
}

.navi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 0 47px 0;
}

.navi button {
    background: #FF7143;
    border-radius: 10px;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
    padding: 19px 60px;
}

.section_wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 104px;
    padding-bottom: 87px;
}

.section_action {
    width: 467px;
}

.section_title {
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;
    padding-bottom: 30px;
}

.section_text {
    padding-bottom: 50px;
}

.section_btn {
    display: flex;
    justify-content: space-between;
}

.section_btn button {
    background: #5454D4;
    border-radius: 10px;
    padding: 19px 61px 19px 60px;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
    transition: all 0.5s ease;
}

.section_btn button:hover {
    background-color: #fff;
    border: 1px solid #5454D4;
    color: #5454D4;
}

.section_btn .btnt {
    padding: 19px 95px;
}

.section_picture {
}

       /*email*/

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action_title {
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1.56316px;
    padding-bottom: 38px;
}

.action_form {
    max-width: 556px;
    width: 100%;
}  

.email {
    width: 302px;
    height: 60px;
    border: 1px solid #7087FF;
    border-radius: 10px;
    margin-right: 37px;
}

::placeholder {
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #000000;
    padding-left: 14px;
}

.action_btn {
    background: #5454D4;
    border-radius: 10px;
    padding: 19px 94px 19px 94px;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #FFFFFF; 
}

/* KARDS*/

.price_wrap {
    padding: 83px 0 132px 0;
}

.price_title {
    font-size: 60px;
    line-height: 70px;
    max-width: 504px;
    margin-bottom: 110px;
}

.kards_wrap {
    display: flex;
    justify-content: space-between;
}

.kards {
    background: #F8F8F8;
    border-radius: 10px;
    width: 330px;
    height: 441px;
    text-align: center;
    transition: all 0.5s ease;
}

.kards:hover {
    background: #FF7143;
    box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
    border-radius: 10px;
    color: white;
}

.main_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #696871;
    padding: 34px 0 22px 0;
}

.kards h3 {
    font-size: 60px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -1.03448px;
    color: #1D293F;
    padding-bottom: 28px;
}

.kards_text {
    letter-spacing: -0.531474px;
    line-height: 50px;
}

.kards button {
    background: #FFFFFF;
    border: 1px solid #EAE9F2;
    border-radius: 10px;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.531474px;
    color: #5454D4;
    padding: 19px 96px 19px 96px;
    margin: 33px 0 24px 0;
    transition: all 0.5s ease;
}

.kards button:hover {
    background:  #9F3919;
    border: none;
    color: white;
}

/*FOOTER*/

footer {
    background: rgba(255, 113, 67, 0.27);
}

.footer_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 0 47px 0;
}
